__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
venv3*/
*.db
*.sqlite
*.sqlite3
.git
.gitignore
.env
node_modules
dist
build
.DS_Store
**/__pycache__/
Frontend/northlane-partner-hub/node_modules
Frontend/northlane-partner-hub/dist
Frontend/northlane-partner-hub/.env.local
